.snake-game-board {
	position: absolute;
	height: 100vh;
	width: 100vw;
	
	background: radial-gradient(circle, rgba(0, 255, 17, 0.703) 1%, rgba(0, 0, 0, 0.9) 50%); /* Fondo de estrellas con puntos brillantes */
    opacity: 0.99; /* Aumentamos la visibilidad de las estrellas */
    pointer-events: none;
    background-size: 8px 8px; /* Estrellas más pequeñas y dispersas */


	/* display: grid;
	grid-template-columns: repeat(3, auto);
	column-gap: 1rem; */
}

.snake-game-display {
	position: relative;
	left: 29vw;
	top: 3vh;

	width: 42vw;
	height: 90vh;
	display: grid;
	grid-template-rows: repeat(2, auto);
	background-color: #398a30;
	border-radius: 15px;
	border: 8px darkgreen solid;
	box-shadow: 0 0 35px rgb(46, 255, 27);
}

.snake-game-summary {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1rem;

}

.snake-score-display {
	width: 18vw;
	background-color: #cdb229;
	text-align: center;
	border-radius: 15px;
	margin: auto;
	font-size: 1.2em;
	font-weight: bold;
	border: 5px darkgreen solid;

}

.snake-time-display {
	width: 18vw;
	background-color: #26c58b;
	text-align: center;
	border-radius: 15px;
	margin: auto;
	font-size: 1.2em;
	font-weight: bold;
	border: 5px darkgreen solid;

}

.snake-common-button {
	position: absolute;
	z-index: 1;
	text-decoration: none;
	color: black;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #26c58b;
	width: 10vw;
	height: 5vh;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px darkgreen solid;
	box-shadow: 0 0 25px rgb(46, 255, 27);
}

.snake-home-button {
	top: 9%;
	left: 1vw;

}

.snake-menu-button {
	top: 2vh;
	left: 1vw;

}