.snake-body-part {
    width: 90%;
    height: 90%;
    background-color: #008b8b;
}

.snake-head {
    width: 100%;
    height: 100%;
    background-color: #095097;
}
.snake-right {
	transform: rotate(0);
}

.snake-up {
	transform: rotate(90);
}

.snake-left {
	transform: rotate(180);
}

.snake-down {
	transform: rotate(270);
}
